.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 4px;
    &-bold {
        background-color: transparent;
        background-image: url("../assets/bold.svg");
        background-repeat: no-repeat;
        background-size: 1.8em;
        background-position: center;

        border-left: 0.1em solid #2a3e70;
        border-top: 0.1em solid #2a3e70;
        border-bottom: 0.1em solid #2a3e70;
        border-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 1em;
    }

    &-italic {
        background-color: transparent;
        background-image: url("../assets/italic.svg");
        background-repeat: no-repeat;
        background-size: 1.8em;
        background-position: center;

        border-left: 0;
        border-top: 0.1em solid #2a3e70;
        border-bottom: 0.1em solid #2a3e70;
        border-right: 0;
        padding: 1em;
    }

    &-code {
        background-color: transparent;
        background-image: url("../assets/code.svg");
        background-repeat: no-repeat;
        background-size: 1.8em;
        background-position: center;

        border-left: 0;
        border-right: 0;
        border-top: 0.1em solid #2a3e70;
        border-bottom: 0.1em solid #2a3e70;

        padding: 1em;
    }

    &-quote {
        background-color: transparent;
        background-image: url("../assets/quote.svg");
        background-repeat: no-repeat;
        background-size: 1.8em;
        background-position: center;

        border-left: 0;
        border-right: 0;
        border-top: 0.1em solid #2a3e70;
        border-bottom: 0.1em solid #2a3e70;

        padding: 1em;
    }

    &-list-num {
        background-color: transparent;
        background-image: url("../assets/list_numb.svg");
        background-repeat: no-repeat;
        background-size: 1.8em;
        background-position: center;

        border-left: 0;
        border-right: 0;
        border-top: 0.1em solid #2a3e70;
        border-bottom: 0.1em solid #2a3e70;

        padding: 1em;
    }
    &-list-bullet {
        background-color: transparent;
        background-image: url("../assets/list_bullet.svg");
        background-repeat: no-repeat;
        background-size: 1.8em;
        background-position: center;

        border-left: 0;
        border-right: 0.1em solid #2a3e70;
        border-top: 0.1em solid #2a3e70;
        border-bottom: 0.1em solid #2a3e70;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        padding: 1em;
    }

    &-save {
        margin-left: 8px;
        padding: 0.4em;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(196, 196, 196);
        border: 0;
    }

    &-status-label {
        margin-left: 4px;
        padding: 0.4em;
    }
}

@media all and (max-width: 476px) {
    .buttons {
        &-save {
            margin-top: 1em;
            flex: 1;
        }
    }
}

@media all and (max-width: 415px) {
    .filename-input {
        margin-top: 1em;
    }
}

.filename-input {
    margin-left: 8px;
    width: 180px;
    border-radius: 4px;
    padding: 0.4em;
    border: 0 solid gray;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(196, 196, 196);
    &::placeholder {
        color: rgb(161, 161, 161);
    }
}

ul {
    list-style: none;
    & > li:before {
        content: "-";
        padding: 20px;
    }
}

.editor > div {
    padding: 5px;
    background-color: rgb(223, 220, 220);
    padding: 0.8em 0.8em 0.4em 1em;
    margin: 0.8em 0.8em 0 1em;
    line-height: 1.5em;
    border-radius: 4px;
}
