// https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda
@import url("./normalize.css");

$focused-label-color: #e0dca3;
$neon-box-shadow: 0 0 5px $focused-label-color, 0 0 25px $focused-label-color,
    0 0 50px $focused-label-color, 0 0 100px $focused-label-color;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$font-fam: "Montserrat", "Roboto", sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;

    margin: 0;
    padding: 0;
    font-family: $font-fam;
    background: linear-gradient(#606c88, #e0dca3);
    font-size: 18px;
}

#root {
    height: inherit;
}

.mainpage-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pw-info {
    top: 0px;
    margin: 0px 0px 35px;
    font-size: 0.8em;
    color: rgba(237, 237, 237, 0.4);
}

.login-box {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &-container {
        width: 350px;
        min-width: 290px;
        padding: 30px;
        margin: 5px;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
    }
}

@media all and (max-width: 308px) {
    .gmail {
        & > label {
            text-align: center;
        }
    }

    .signup {
        margin: 0 !important;
    }
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.gmail {
    background-image: url("../assets/gmail-logo.png");
    background-repeat: no-repeat;
    background-size: 1.8em;
    background-position: left 0.8em center;
    font-size: 0.84em !important;
    width: 100%;
    & > label {
        margin-left: 2.2em;
        display: inline-block;
    }
    &:focus {
        box-shadow: $neon-box-shadow;
        border: 0;
    }
}

.login-box .user-box input {
    width: 100%;
    padding: 1em 0 0.5em;
    font-size: 16px;
    color: #9cafda;
    font-weight: 500;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;

    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -1em;
    left: 0;
    color: $focused-label-color;
    font-size: 0.8em;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(204, 200, 200);
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 2px;
}

.login-box a:hover {
    color: #fff;
    border-radius: 5px;
    box-shadow: $neon-box-shadow;
}

.login-box a span {
    position: absolute;
    display: block;
}

#login-a + a {
    float: right;
}

.signup {
    // margin-left: 20px;
    float: right;
    &-2 {
        border: 1px solid gray;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        margin-top: 10px !important;
    }

    &-2 a:hover {
        box-shadow: $neon-box-shadow;
    }
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $focused-label-color);
    animation: btn-anim1 0.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $focused-label-color);
    animation: btn-anim2 2s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $focused-label-color);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $focused-label-color);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
